
/*************************
BASE STYLES
**************************/

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Bold.ttf);
}

@font-face {
    font-family: 'Microsoft PhagsPa Bold';
    src: url(../fonts/phagspab.ttf);
}

@font-face {
    font-family: 'Microsoft PhagsPa';
    src: url(../fonts/phagspa.ttf);
}

body {
    /*background-color: rgba(130,169,186, .4);*/
    background-color: rgba(107,13,37, .9);
    background-image: url("../images/bg-pattern-2.jpg");
    background-size: cover;
    background-position: center;
    /*background-color: rgba(107,13,37, .5);*/

}

a{
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

#wrapper {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}

h1 {
    font-size: 3.75em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#hero h2 {
    font-size: 2.25em;
    margin-top: 0;
}

p {
    font-family: 'Microsoft PhagsPa',sans-serif;
}

img {
    max-width: 100%;
}
/*************************
HEADER
**************************/

header a {
    font-family: Oswald, sans-serif;
}

header {
    background-color: rgba(234,221,123, .8);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header-right-side {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}


.header-left-side {
    padding-left: 40px;
}

nav ul li a {
    text-transform: lowercase;
    font-size: 1.35em;
}



/*************************
PSEUDO-ELEMENTS
**************************/

header a:link {
    color: rgb(107,13,37);
}

header a:visited {
    color: rgb(130,169,186);
}

header .contact-info a:hover {
    text-decoration: underline;

}

header .navigation a:hover {
    border-bottom: solid 4px;
    padding: 5px;
}

header a:active {
    color: rgb(97,177,202);
}

/*************************
MAIN-CONTENT
**************************/

#hero {
    background-image: url(../images/argentina-pampas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 4px 4px #000;
    font-family: 'Microsoft PhagsPa Bold',sans-serif;
}



.three-column-section {
    display: flex;
    justify-content: space-around;
    background-color: #82a9ba;
    padding: 50px 0 40px;
}

.three-column-section div {
    padding: 15px;
}

.three-column-section div p {
    width: 250px;
    margin: 0 auto;
    line-height: 1.3;
    /*font-family: 'Microsoft PhagsPa Bold',sans-serif;*/
}

.three-column-section div {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    flex-grow: 2;
    flex-basis: auto;
}


.three-column-section div img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 0 auto 20px;
}

.summary {
    width: 75%;
    margin: 125px auto;
    line-height: 1.5;
}

.large-image-section {
    width: 100%;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #82a9ba;*/
    /*color: #6d1639;*/
}

.large-image-section h2 {
    font-family: 'Microsoft PhagsPa Bold',sans-serif;
    text-align: center;
    border-bottom: solid 3px;
    padding-bottom: 10px;
    width: 18%;
    margin-bottom: 50px;
    font-size: 2em;
    color: #6d1639;
    text-shadow: 1px 1px 1px #6d1639;
}

.large-image-section img {
    width: 75%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.large-image-section p.summary {
    margin-top: 25px;
}

/*************************
FOOTER
**************************/

footer {
    padding: 50px 0 15px;
    text-align: center;
    background-color: #eadd7b;
    color: #6d1639;
}

footer a {
   color: #6d1639;
}

footer p {
    font-family: Oswald;
}